In [4]:
type(ans)

pandas.core.frame.DataFrame

In [1]:
import seaborn as sns
ans = sns.load_dataset('anscombe')

In [2]:
ans.groupby('dataset').describe()

            x                                               y            \
        count mean       std  min  25%  50%   75%   max count      mean
dataset
I        11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
II       11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
III      11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500000
IV       11.0  9.0  3.316625  8.0  8.0  8.0   8.0  19.0  11.0  7.500909


              std   min    25%   50%   75%    max
dataset
I        2.031568  4.26  6.315  7.58  8.57  10.84
II       2.031657  3.10  6.695  8.14  8.95   9.26
III      2.030424  5.39  6.250  7.11  7.98  12.74
IV       2.030579  5.25  6.170  7.04  8.19  12.50

In [6]:
ds1 = ans[ans['dataset'] == 'I']
ds2 = ans[ans['dataset'] == 'II']
ds3 = ans[ans['dataset'] == 'III']
ds4 = ans[ans['dataset'] == 'IV']

In [8]:
fig = plt.figure()
axes1 = fig.add_subplot(2, 2, 1)
axes2 = fig.add_subplot(2, 2, 2)
axes3 = fig.add_subplot(2, 2, 3)
axes4 = fig.add_subplot(2, 2, 4)

axes1.plot(ds1['x'], ds1['y'], 'o')
axes2.plot(ds2['x'], ds2['y'], 'o')
axes3.plot(ds3['x'], ds3['y'], 'o')
axes4.plot(ds4['x'], ds4['y'], 'o')

axes1.set_title('Dataset 1')
axes2.set_title('Dataset 2')
axes3.set_title('Dataset 3')
axes4.set_title('Dataset 4')
fig.suptitle("Anscombe's Quartet")
fig.tight_layout()

NameError: name 'plt' is not defined

In [ ]:
##